gymnasium==0.29.1
PyYAML
mitsuba==3.5.2
sionna
torchinfo
pyrallis
ipykernel
bumpversion
coverage
flake8
invoke
isort
pylint
pytest
sphinx
black
jax-jumpy==1.0.0
matplotlib
moviepy
numpy<2.0
pandas
protobuf
pygame
tqdm
wandb
torchrl==0.6.0
tensordict==0.6.2
tyro