matplotlib
numpy
setuptools
sionna
tensorflow[and-cuda]
PyYAML
opencv-python
tqdm
tensorboard
tensorboardX
gymnasium
torch
torchaudio
torchvision
bumpversion
coverage
bumpversion
coverage
flake8
invoke
isort
pylint
pytest
sphinx
black
ipykernel