gymnasium==0.29.1
mathutils==3.3.0
matplotlib==3.9.2
numpy>=2.1.1
pyrallis==0.3.1
PyYAML==6.0.2
PyYAML==6.0.2
sionna==0.18.0
stable_baselines3==2.3.2
tensorflow[and-cuda]==2.14.1
torch==2.1.2
torchinfo==1.8.0
tqdm==4.66.5
tyro==0.8.11
wandb==0.18.3
ipykernel
bumpversion
coverage
flake8
invoke
isort
pylint
pytest
sphinx
black
setuptools
opencv-python